body {
    width: 1600px;
    height: 1968px;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaItalic";
    src: url("../fonts/HelveticaItalic/HelveticaItalic.eot");
    src: url("../fonts/HelveticaItalic/HelveticaItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"),
    url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaLight/HelveticaLight.eot");
    src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaBlack";
    src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
    src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"),
    url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaHeavy";
    src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
    src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"),
    url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaMedium";
    src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
    src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"),
    url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaThin";
    src: url("../fonts/HelveticaThin/HelveticaThin.eot");
    src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"),
    url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaUltraLight";
    src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
    src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"),
    url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaBoldItalic";
    src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot");
    src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"),
    url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaBlackItalic";
    src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot");
    src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"),
    url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaLightItalic";
    src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot");
    src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"),
    url("../fonts/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaMediumItalic";
    src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot");
    src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"),
    url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaHeavyItalic";
    src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
    src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"),
    url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaThinItalic";
    src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot");
    src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"),
    url("../fonts/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaUltraLightItalic";
    src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
    src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"),
    url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* header*/

.header {
    border-top: 10px solid #2ecc71;
    background: url("../img/img.png");
    background-size: cover;
}

.header-content {
    padding: 0;
    margin: 95px 262px 0 324px;
    vertical-align: middle;
}

.head-info {
    float: left;
}

.logo {
    padding: 0;
    margin: 72px 0 36px 0;

}

.p-head {
    width: 453px;
    height: 59px;
    color: #ffffff;
    font-family: "HelveticaRegular", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin: 0 0 26px 0;
}

.app-list {
    margin: 0;
    padding: 0;
}

.app {
    float: left;
    list-style-type: none;
    margin: 0;
}

.app-apple {
    float: left;
    list-style-type: none;
    margin: 0 14px 0 0 ;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    padding: 12px 17px 15px 15px;
}

.app-android {
     float: left;
     list-style-type: none;
     margin: 0 14px 0 0 ;
     background: rgba(0, 0, 0, 0.5);
     border-radius: 100%;
     padding: 14px 15px 14px 16px;
 }

.app-windows {
    float: left;
    list-style-type: none;
    margin: 0 14px 0 0 ;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    padding: 14px 15px 14px 12px;

}

.win-icon {
     opacity: 0.5;
 }

.phone {
    float: right;
    margin: 0;
    padding: 0;
    display: block;
}

.app-windows:hover {
    cursor: pointer;
    background-color: #2ecc71;
    transition: background-color 0.5s;
    color: #ffffff;
}

.app-android:hover {
    cursor: pointer;
    background-color: #2ecc71;
    transition: background-color 0.5s;
    color: #ffffff;
}

.app-apple:hover {
    cursor: pointer;
    background-color: #2ecc71;
    transition: background-color 0.5s;
    color: #ffffff;
}

/*features*/

.features {
    height: 335px;
    margin: 0;
    padding: 0;
}

.features-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.icon1 {
    list-style-type: none;
    background-color: #2ecc71;
    border-radius: 100%;
    padding: 28px 27px 23px 28px;
    margin: 60px 0 0 0;

}

.icon2 {
    list-style-type: none;
    background-color: #2ecc71;
    border-radius: 100%;
    padding: 24px 26px 22px 24px;
    margin: 60px 332px 0 332px;
}

.icon3 {
    list-style-type: none;
    background-color: #2ecc71;
    border-radius: 100%;
    padding: 27px 24px 22px 25px;
    margin: 60px 0 0 0;
}

.features-heading {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}

.feature-head1 {
    font-family: "Raleway", sans-serif;
    width: 180px;
    height: 17px;
    color: #222222;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    margin: 31px 0 0 290px;
}

.feature-head2 {
    font-family: "Raleway", sans-serif;
    width: 130px;
    height: 21px;
    color: #222222;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    margin: 31px 0 0 274px;
}

.feature-head3 {
    font-family: "Raleway", sans-serif;
    width: 230px;
    height: 17px;
    color: #222222;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    margin: 31px 0 0 250px;
}
.p-features {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}


.p-feature1 {
    font-family: "HelveticaRegular", sans-serif;
     width: 313px;
     height: 42px;
     color: #848484;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     text-align: center;
     margin: 21px 0 0 210px;
 }

.p-feature2 {
    font-family: "HelveticaRegular", sans-serif;
    width: 313px;
    height: 42px;
    color: #848484;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 21px 0 0 117px;
}

.p-feature3 {
    font-family: "HelveticaRegular", sans-serif;
    width: 313px;
    height: 42px;
    color: #848484;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 21px 0 0 125px;
}

/* Section notified*/

.notified {
    height: 427px;
    background-color: #e3e3e3;
    display: flex;
}

.notify-section {
    width: 535px;
    height: 225px;
    margin: 60px 146px 0 209px;
}

.notify-h {
    font-family: "Raleway", sans-serif;
    width: 350px;
    height: 22px;
    color: #222222;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}

.notify-p {
    font-family: "HelveticaRegular", sans-serif;
    width: 533px;
    height: 91px;
    color: #848484;
    margin: 25px 0 30px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}


.video {
    margin: 60px 0 0 0;
    width: 540px;
    height: 307px;
    display: flex;
    border-radius: 5px;
}

.presentation-video {
    width: 540px;
    height: 307px;
}

.notify-form {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255);
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    color: #4e5159;
    padding: 0;
}

.input-list {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.input-li {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.submit {
    font-family: 'Raleway', serif;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #2ecc71;
    border-radius: 0 10px 10px 0;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    padding: 19px 40px 15px 30px;
    display: inline-block;
}

.submit:hover {
    cursor: pointer;
    background-color: #2ecc71;
    transition: background-color 0.5s;
    color: #000000;
}

.email {
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-radius: 10px 0 0 10px;
    color: #848484;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 19px 40px 14px 30px;
    display: inline-block;
}

.email::-webkit-input-placeholder {
    color: #848484;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;

}

.email::-moz-placeholder {
    color: #848484;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;

}

.email:-ms-input-placeholder {
    color: #848484;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;

}

.email:-moz-placeholder {
    color: #848484;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;

}

/* section testemonial*/